{{!--ejercicio para la segunda entrega--}}

{{! -- aca tenes que recibir el array con los productos -- }}

<div>
    {{#each productos}}
    <p> {{this.nombre}} </p>
    <p> {{this.descripcion}} </p>
    <p> {{this.precio}} </p>
    {{/each}}
</div>